html {
    font-size: 10px; 
    font-family: Tahoma, sans-serif;
    box-sizing: border-box;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

li, label, input, select {
    font-size: 2rem;
}

h1, h2 {
    margin: 50px;
}

.collection_item { 
   margin: 20px 50px;
}

.collection_item img {
   width: 300px; 

}

footer p {
    font-size: 1.6rem;
    margin: 20px 50px;
}

/* addtional styling for the form  */

form div {
    margin: 20px 50px
    
}

