html {
    font-size: 10px; 
    font-family: 'Verdana', Tahoma, sans-serif;
    background-color: white; /* #153e61;*/
    color: black;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

a, li, label, input, select{
    font-size: 2rem;
}

h1, h2 {
    margin: 50px;
}

.interactions_with_db {
    margin: 20px 50px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
}


.collection_item { 
   margin: 20px 50px;
}

.collection_item img {
   width: 300px; 
   border-radius: 5px;

}

footer p {
    font-size: 1.6rem;
    margin: 20px 50px;
}

/* addtional styling for the form  */

form div {
    margin: 20px 50px   
}

footer a {  
    margin: 20px 50px;
}

